# Kernel version targets for each host
# Format: hostname,kernel_version
#
# Example:
# ollo1,5.15.0-136-generic
# ollo2,6.8.0-60-generic
# ollo3,5.15.0-136-generic
# ollo4,5.15.0-136-generic
# ollo5,5.15.0-136-generic
# ollo6,5.15.0-136-generic
# ollo7,5.15.0-136-generic
# ollo8,5.15.0-136-generic
